/* --------------------------------------------------GLOBAL */

html,
body {
  overflow: hidden;
  font-family: "Peddana", serif;
}

#backgroundImg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -200;
  opacity: 0;
}

#backgroundImg.show {
  opacity: 1;
  transition: 1.5s;
  z-index: -200;
}

#spinnerHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spinner {
  transform: scale(0.5);
}

#spinner.hide {
  z-index: -100;
  opacity: 0;
}

#outerFrame {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#appBtns {
  opacity: 0;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

#appBtns.show {
  opacity: 1;
  transition: 0.3s;
}

/* ------------------------------------------------------------BUTTONS */

#magicButton1-3 {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: rgb(250, 200, 0);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#magicButton1-3.open {
  box-shadow: 15px 15px 10px rgb(180, 145, 2);
  transition: box-shadow 1s;
}
#magicButton1-3.open.animate {
  animation: hovering 2s infinite;
}
#magicButton1-2 {
  width: 70%;
  height: 70%;
  background-color: rgb(255, 218, 68);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 15px 15px 10px rgb(180, 145, 2);
}
#magicButton1-2.open {
  box-shadow: none;
  transition: box-shadow 0.3s linear;
}
#magicButton1-1 {
  width: 55%;
  height: 55%;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px rgb(216, 180, 38);
}
#magicButton1-1.open {
  box-shadow: none;
  transition: box-shadow 0.3s linear;
}
#magicButton2-3 {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 117, 250);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#magicButton2-3.open {
  box-shadow: 15px 15px 10px rgb(31, 65, 158);
  transition: box-shadow 1s;
}
#magicButton2-3.animate {
  animation: hovering 2s infinite;
}
#magicButton2-2 {
  width: 70%;
  height: 70%;
  background-color: rgb(68, 134, 255);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 15px 15px 10px rgb(8, 113, 145);
}
#magicButton2-2.open {
  box-shadow: none;
  transition: box-shadow 0.3s linear;
}
#magicButton2-1 {
  width: 55%;
  height: 55%;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px rgb(10, 112, 207);
}
#magicButton2-1.open {
  box-shadow: none;
  transition: box-shadow 0.3s linear;
}
#magicButton3-3 {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: #529265; 
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#magicButton3-3.open {
  box-shadow: 15px 15px 10px #466d52;
  transition: box-shadow 1s;
}
#magicButton3-3.open.animate {
  animation: hovering 2s infinite;
}
#magicButton3-2 {
  width: 70%;
  height: 70%;
  background-color: #699e79;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 15px 15px 10px #447453;
}
#magicButton3-2.open {
  box-shadow: none;
  transition: box-shadow 0.3s linear;
}
#magicButton3-1 {
  width: 55%;
  height: 55%;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px #518360;
}
#magicButton3-1.open {
  box-shadow: none;
  transition: box-shadow 0.3s linear;
}
#magicButton4-3 {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: #fd664e;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#magicButton4-3.open {
  box-shadow: 15px 15px 10px #ca3f2a;
  transition: box-shadow 1s;
}
#magicButton4-3.animate {
  animation: hovering 2s infinite;
}
#magicButton4-2 {
  width: 70%;
  height: 70%;
  background-color: #FF715B;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 15px 15px 10px #f74e34;
}
#magicButton4-2.open {
  box-shadow: none;
  transition: box-shadow 0.3s linear;
}
#magicButton4-1 {
  width: 55%;
  height: 55%;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px #e94c33;
}
#magicButton4-1.open {
  box-shadow: none;
  transition: box-shadow 0.3s linear;
}

@keyframes hovering {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translate(0px);
  }
}

/* --------------------------------------------------BACKGROUNDS */

#backGround {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

#backGround.yellow{
  background-color: #ffd92d;
}
#backGround.blue{
  background-color: #2d99ff;
}
#backGround.green{
  background-color: #527e5f;
}
#backGround.red{
  background-color: #fa7f6c;
}

#backGround.show {
  opacity: 1;
  transition: opacity 0.2s;
}

#backGround.animate{
  animation: colors 8s infinite linear;
}

@keyframes colors{
  0% {
    background-color: #ffd82d88;
  }
  25% {
    background-color: #2d99ff85;
  }
  50% {
    background-color: #527e5f7e;
  }
  75% {
    background-color: #fa7f6c86;
  }
  100% {
    background-color: #ffd82d83;
  }
}


/* -----------------------------------------------CIRCLE ANIMATION */

#circleHolder{
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  display: flex;
}

#yellowBall{
  position: absolute;
  top: 0;
  right: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: yellow;
}
#blueBall{
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: blue;
}
#redBall{
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: red;
}
#greenBall{
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: green;
}