/* --------------------------------------------------GLOBAL */

html,
body {
  overflow: hidden;
  font-family: "Peddana", serif;
}

#backgroundImg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -200;
  opacity: 0;
}

#backgroundImg.show {
  opacity: 1;
  transition: 1.5s;
  z-index: -200;
}

#spinnerHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spinner {
  transform: scale(0.5);
}

#spinner.hide {
  z-index: -100;
  opacity: 0;
}

#outerFrame {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#appBtn {
  position: absolute;
  margin-top: 75px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  transition: height 0.7s;
  opacity: 0;
  cursor: pointer;
}

#appBtn.show {
  opacity: 1;
  transition: 0.3s;
}

#magicButton3 {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-color: rgb(250, 200, 0);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#magicButton2 {
  width: 70%;
  height: 70%;
  background-color: rgb(255, 218, 68);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  box-shadow: 15px 15px 10px  rgb(180, 145, 2);
}
#magicButton1 {
  width: 55%;
  height: 55%;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  box-shadow: 10px 10px 10px  rgb(216, 180, 38);
}
